@import "bootstrap/bootstrap.less";


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 65px;
  background-color: #f5f5f5;
  z-index: 100;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.base-container > .container {
  padding: 0px 0px 0;
  margin-bottom: 60px;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


.scores-input {
    width: initial;
}

.scores > tbody > tr > td {
    padding: 10px;
    line-height: 2.428571;
}

table.scores td.score {
    width: 110px
}



.list-group-item {
    border: 1px solid rgba(0, 0, 0, 0.2);

    a {
        margin-left: 10px;
    }

    input[type="checkbox"] {
        margin: 0;
    }

    span.button {
        padding-top: 4px;
    }
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}


.breadcrumb {
    margin: 0px 10px 15px 10px;
}


.chosen-container-single .chosen-single {
    border-radius: 0;
    line-height: 39px;
    height: 39px;
    border: 0;
}

.chosen-container .chosen-drop {
    border-radius: 0;
}

div {
    border-radius: 0;
}


.chosen-container-single .chosen-single div b {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.chosen-container-single .chosen-single div b:before {
    content: "\f0d7";
}

.chosen-container-single .chosen-single span {
    line-height: 39px;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  border: 0;
}

.chosen-container .chosen-drop {
    border: 0;
}

.chosen-container .chosen-results {
  margin: 0;
  padding: 0;
}

.chosen-container .chosen-results li {
  line-height: 35px;
}


.list-group-item:hover {
    background-color: #64778a;
}

::-webkit-scrollbar {
    width: 0;
    border-radius: 0;
    background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar:horizontal {
  height: 0;
}

::-webkit-scrollbar:hover {
  background-color:rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb:horizontal, ::-webkit-scrollbar-thumb:vertical {
  background:rgba(0,0,0,0);
  border-radius: 0;
}

::-webkit-scrollbar-thumb:horizontal:active, ::-webkit-scrollbar-thumb:vertical:active {
  background:rgba(0,0,0,0);
}

.datepicker {
    background: inherit;
}

.datepicker th.prev {
    background: inherit;
    color: inherit;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    border-right-style: none;
}

.datepicker th.month {
    background: inherit;
    color: inherit;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    border-right-style: none;
    border-left-style: none;
}

.datepicker th.next {
    background: inherit;
    color: inherit;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    border-left-style: none;
}

.zmdi-chevron-left {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 1.33333333em !important;
    line-height: 0.75em;
    vertical-align: -15%;
}

.zmdi-chevron-left:before {
    content: "\f053";
}

.zmdi-chevron-right {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 1.33333333em !important;
    line-height: 0.75em;
    vertical-align: -15%;
}

.zmdi-chevron-right:before {
    content: "\f054";
}

.datepicker td.available:hover, .datepicker th.available:hover {
    background-color: #64778a;
}

.input-group-addon:last-child {
    height: 39px;
    padding: 11px 0px 0px 1px !important;
}


.zmdi-apps {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 1.33333333em !important;
    line-height: 0.75em;
    vertical-align: -15%;
}


.zmdi-apps:before {
    content: "\f073";
}

.datepicker td.today, .datepicker td.today:hover {
    background-color: #df691a;
    border-radius: 18px;
}

.popover {
    left: -79px !important;
    top: 5px !important;
}
